<h1>About</h1>
<h3>Welcome to the show</h3>
<p>This is my personal test/training/practice website.</p>
<p>So far I have built this site with:<br/>
	<ul>
		<li>Ruby <%= RUBY_VERSION %></li>
		<li>Rails <%= Rails::VERSION::STRING %></li>
		<li>MongoDB/Mongoid (database)</li>
		<li>Devise (Authentication)</li>
		<li>Pundit (Authorization)</li>
		<li>Twitter Bootstrap (CSS Library)</li>
		<li>JQuery</li>
	</ul>
</p>
<p>Whats up next?:
	<ul> 
		<li>A blog demo (In progress)</li>
		<li>A shopping cart demo</li>		
	</ul>
</p>
