
<div class=" row static-page">
	<div class="col-md-2">
		&nbsp;
	</div>
	<div class="col-md-8" align="center">
		<h1>Paxxa Meditation</h1>
	</div>
	<div class="col-md-2">
		&nbsp;
	</div>
</div>	
<div class=" row static-page">
	<div class="col-md-2">
		&nbsp;
	</div>
	<div class="col-md-8" align="left">
		<h2>The Purpose of Meditation</h2>
		<p>This meditation is named for Paxxa because it supports the Raquesti belief of the nature of the universe.</p>
		<p>The purpose of Meditation is to allow one to &ldquo;see&rdquo; reality. There are other benefits, like reducing stress, but the primary reason to meditate is that it trains one’s mind to allow you to perceive the complete universe that surrounds each individual.</p>
		<p>&ldquo;Seeing&rdquo; is a term borrowed from Carlos Castaneda’s character Don Juan. It is a perception that goes beyond the normal senses.  A key component of Seeing is the ability to &ldquo;Stop the Internal Dialog&rdquo;. This is similar to a Zen  &ldquo;Mushin&rdquo; (Mind without Mind).  It is a state of mind where mind is not fixed on or occupied by any thought or emotion, and is thus connected to the whole of reality.</p>
		<p>Early in man’s evolutionary development he created language. The purpose of language is to allow one person to communicate the interactions one has with his environment, to another person.  But in this way, language affects thought until thought is delimited by language.  Within your mind, your thoughts are a spoken dialog using the words of language. As you read this text, you are verbalizing the words within your mind. </p>
		<p>Words are symbolic interpretations of our reality. They are discrete, like whole numbers, they represent a single unique packet of information.  But our reality is continuous, not discrete and in using words to describe our reality, we lose the values between the words . And not just what is between the words, we lose the Gestalt, the whole view of what is real. When our perception becomes limited by words, we fail to see the whole of reality.</p>
		<p>The purpose of Paxxa Meditation is to correct this. Paxxa Meditation seeks to turn off the interpretation that clouds our perception so that we can experience reality completely.   This level of awareness can allow us to interact with reality on a level where our influence may transcend the physical.</p>
	</div>
	<div class="col-md-2">
		&nbsp;
	</div>
</div>	
<div class=" row static-page">
	<div class="col-md-2">
		&nbsp;
	</div>
	<div class="col-md-8" align="left">
		<h2>The Stages of Paxxa Meditation</h2>
		<p>There are three stages, or levels of competency, to Paxxa Meditation.</p>
		<h3>cinter-el: see now</h3>
		<p>To be in the present moment. To eliminate the distractions of supporting your existence and just focusing on that existence.</p>
		<h3>cinter-rec: see all</h3>
		<p>To have total awareness.  To fully experience your environment within the limitations of your physical senses.</p>
		<h3>cinter-a: see beyond</h3>
		<p>To perceive what is beyond the limits imposed on us by the four dimensions of our lower reality. Some people refer to this as Extra Sensory Perception. It is your first experience with the spiritual energy that is the bridge between lower and higher reality.</p>	
	</div>
	<div class="col-md-2">
		&nbsp;
	</div>
</div>	
<div class=" row static-page">
	<div class="col-md-2">
		&nbsp;
	</div>
	<div class="col-md-8" align="left">
		<h2>The Practice of Meditation</h2>
		<h3>cinter-el: see now</h3>
		<p>This exercise for Cinter-El: See Now adds a Yoga breathing technique to a method of Mindful Awareness.  Here are a few guidelines before you get started:</p>
		<ul>
			<li>Practice at regular times. On awakening, before retiring, or before meals are generally the best times. A consistent daily relaxation routine will have additional health benefits related to reducing stress. </li>
			<li>Practice at least 20 minutes per day. Two 20-minute periods are preferable. Once a day is mandatory for obtaining the additional benefits. (You may want to begin your practice with 30-minute periods. As you gain skill in the relaxation technique, you will find that the amount of time you need to experience the relaxation response will decrease.) </li>
			<li>Practice on an empty stomach. Food digestion after meals will tend to disrupt deep relaxation.  </li>
			<li>Find a quiet location to practice where you won't be distracted. Don't permit the phone to ring while you're practicing. Use a fan or air conditioner to blot out background noise if necessary.  </li>
		</ul>	
		<p>The Yoga breathing technique used in Paxxa Meditation is known as Ujjayi Pranayama (ooh-JAH-yee prah-nah-YAH-mah). It is a technique that helps calm the mind and warm the body. When practicing Ujjayi, you completely fill your lungs, while slightly contracting your throat, and breathe through your nose.  Its name comes from the Sanskrit word “ujjayi,” which means “to conquer” or “to be victorious.” Therefore, it is also often referred to as “Victorious Breath.” Because of the sound it makes when performed correctly, this breath is also sometimes called “Ocean Breath”. </p>
		<p>By controlling your breath, you calm your mind and bring awareness to the present moment. By consciously practicing breath control exercises, you can bring positive changes to your physical, mental, emotional, and spiritual wellbeing.</p>
		<h4>Preparation</h4>
		<ol>
			<li>Loosen any tight clothing and take off shoes, watch, glasses, contact lenses, jewelry, and so on.  </li>
			<li>Assume a passive, detached attitude. This is probably the most important element. Do not expect anything to happen. You want to adopt a "Nothing is going to happen" attitude; in your world and in your meditation. Be free of any worry about how well you are performing the technique. Do not try to relax. Do not try to control your body. Do not judge your performance. The point is to let go.</li>
			<li>Make a decision not to worry about anything. Give yourself permission to put aside the concerns of the day. Allow taking care of yourself and having peace of mind to take precedence over any of your worries. (Success with relaxation depends on giving peace of mind high priority in your overall scheme of values.)  Above all, be positive. Know that what you are doing will benefit you. (Positive self-expectancy)</li>
			<li>Assume a comfortable position. Sit upright in a straight back chair with your feet flat on the floor and your hands resting palms down on your thighs. It's advantageous to experience the full depth of the relaxation response consciously without going to sleep.  Alternatively, you may sit in a modified lotus position, Easy Pose (Sukhasana). Keep your back slightly bowed back with your shoulders held up and your head erect.   Hold you head up to its highest comfortable position.  Your inner confidence will be equal to the height of your head.</li>
			<li>Become aware of all you five senses: touch, taste, scent, sight and sound.  Tense the muscles in your body then release them. Notice the feeling of your muscles as they relax.  Move your tongue around the inside of your mouth. Notice any lingering flavor that resides in your mouth.  Take a long slow deep breath. Notice any smell of the room in which you are sitting. Look at the objects in the room. Notice the shadows around the objects. Listen to the quiet. Notice if you can detect any small sound that you usually over look.</li>
			<li>When you find that you are lost in a thought while meditating: "What do I have to do tomorrow?" for example, or if you feel an emotion like anger or envy, or even joy, simply label that thought, "thinking," silently, within your mind, and return your attention to the here and now.</li>
			<li>Close your eyes and observe your breath in its natural state. Tune into the rhythm, pace, and sound. Compare the length of your inhales to the length of your exhales. Notice the location of the breath. By observing the breath that we come into the present moment, and it is this pattern of observation, linking mind and body that we want to re-create throughout our practice.</li>
			<li>Once you have taken note of the details of your natural breath, start to make subtle adjustments. Begin by matching the length of your inhales to the length of your exhales. Once the breath is even, elongate and deepen the breath just slightly, not to the point where it feels forced or strained, but just enough so that there is a consciousness about it.</li>
			<li>On your exhalations, begin to slightly contract the back of your throat, as you do when you whisper. Softly whisper the sound, “hahhh,” as you exhale. Imagine your breath fogging up a window. The breath should be audible to you, but not to anyone standing more than a couple of feet from you. Sometimes people create a breath that sounds like Darth Vader, thinking that louder is better, but in fact the breath should have a soothing, quieting quality to it.</li>
			<li>During practice, when you realize that you are caught in a thought, swept away by a story in your mind, silently label the thoughts, "thinking," and return attention once again to the out-breath. Remember to withhold self-judgment. Be kind to yourself.</li>
			<li>As you become comfortable with your exhalations, maintain the slight constriction of the throat on your inhalations as well. You will notice your breath making an “ocean” sound, softly moving in and out, like ocean waves.</li>
			<li>When you can comfortably control your throat during the inhalations and exhalations, gently close your mouth and begin breathing only through your nose. Keep the same constriction in your throat as you did when your mouth was open. You will continue to hear the “ocean” sound as you breathe through your nose. Direct the breath to travel over your vocal cords, across the back of your throat. Keep your mouth closed, but your lips soft.</li>
			<li>Concentrate on the sound of your breath; allow it to soothe your mind. It should be audible to you, but not so loud that someone standing several feet away can hear it.</li>
			<li>Let your inhalations fill your lungs to their fullest expansion. Completely release the air during your exhalations.</li>
		</ol>
		<p>Remember to take it slowly. Build on your experience as you develop your breath control. When you find yourself lost in a thought, simply label that thought, "thinking," silently, within your mind, and return your attention, very gently, to the breath, acting as an anchor to the present moment. Follow the breath as it slowly goes out and dissolves. Do not judge your ability, simply do it. You will gain proficiency as you practice.</p>
		<p>As you relax and breathe consciously, yet effortlessly, you will begin to free your mind. Practicing Ujjayi breathing is a way of harnessing the mind, using the breath as a vehicle for taking our attention off of our normal thought patterns and re-focusing it on the physical details of the practice. The breath has a function on the physical level as well, for as we begin to move more and the practice becomes more rigorous, it becomes more challenging to maintain a steady, even Ujjayi breath. The tendency is to start breathing through the mouth and for the breath to become shallower and more ragged. Maintaining a steady Ujjayi breath is hard work and thus has a very positive effect upon the lungs and heart. The breath will naturally become deeper and faster with increased effort, but when it becomes impossible to keep breathing through the nose and when the quality of the breath becomes compromised, it is usually a sign to back off and rest until you can resume with an even Ujjayi breath.</p>
		<h3>cinter-el: see now</h3>
		<p>The three lessons of cinter-rec: see all are adapted from the meditation technique described by Mouni Sadhu in Meditation: An Outline for Practical Study, (1962).</p>	
		<h4>Lesson 1</h4>
		<p>Having arranged the time and taken up the position recommended previously, perform eleven repetitions of pranayama, as described previously, and close your eyes. </p>
		<p>Try to remember all the objects that were in your field of vision just before you close your eyes. Don’t be concerned if you have difficulty remembering these objects at first. You will improve with practice. </p>
		<p>Visualize in your mind what is in front of you. You may see a table, then a picture on the wall opposite it, with perhaps, one or two books resting on the table, and so on. You should try to imagine them to be as real as possible, just as they actually are when you look at them with open eyes. The important thing is not to name the objects as you visualize them.  For example, do not think the words, “Chair” or “I remember a table to the left.” Just visualize them without identifying them.</p>
		<p>As discussed in the preparation section, if you should have intervening thoughts, recognize them and then dismiss them.</p>
		<p>How long should you allow yourself to remember what objects are there?  Take your time to visualize in your mind as much as you can remember of what was in your field of vision, try to remember as many objects as you can, and visualize them exactly with sharp definition and not as if in a mist.  You may not be completely accurate at first but you will get better with practice.</p>
		<p>When you conclude that this is all that you can 'see' in your mind in this direction, turn your head to the right, in your imagination and visualize the objects that are visible from this new position. Repeat what you did in the first position. Then imagine you turn your head another 90 degrees in the same direction, and study the scene before you. You are now visualizing what is directly behind you.  For the last time, imagine you turn your head another 90 degrees and 'see' what you can. </p>
		<p>Now, open your eyes and look slowly and quietly around you, checking as to how many objects you missed or placed in the wrong position in your mind's eye. Do not verbalize your thoughts, but operate exclusively with your sight. Do not say mentally: 'Now I see that wall, which is yellow in color, the picture on it representing a village street, while on the table before me there is the book in its pale-blue jacket, and so on!   You must have only mental pictures, nothing more. You will still have a lot of trouble with the extermination of the internal dialog when you pass on to more complicated exercises.</p>
		<h4>Lesson 2</h4>
		<p>This time begin with your eyes open and do the same as you tried to do with your eyes closed in Lesson 1. In the same four directions: ahead; right; behind; left, each of 90 degrees, looking around you, try to memorize thoroughly as many details as you can in your field of vision. You should try memorize all of them, so it is recommended to start in a room where there are not too many objects. Devote about two minutes to each 90 degree turn. If you feel this is too short, prolong it a little and if you think it is too much, shorten. The pictures in your mind must be clear and exact, but as before, avoid verbalizing the objects. This is the purpose of the present group of exercises. </p>
		<p>After you have finished your observation, again close your eyes and repeat Exercise A, but, of course, more perfectly now, because you are better prepared.</p>
		<h4>Lesson 3</h4>
		<p>Begin as you did in lesson 2, by looking around you and seeing the room without verbalizing what you are seeing. Allow your eyes to view all the objects in the room. Do not spend too much time on any one object, simply look at it and move on to the next. </p>
		<p>This time before you close your eyes, try to see as much of the room and the objects in it, as you can with one glance. By glance I mean do not focus on any one object, but try to see all of the room at once. The preparation technique of increasing your peripheral vision with a folded piece of paper will give you a better idea of what it is like to see as much as you can without focusing on any one thing. Remember, do not verbalize while you are looking. After you have glanced the room, close your eyes and attempt to visualize the same complete picture of the room with the same level of detail. It may be difficult to exactly replicate the picture of the room in your mind’s eye, with the same level of detail, but your proficiency will increase with practice. You will soon realize that you can see more of the room with your eyes closed than you can with your eyes open. With your eyes closed, you are not hampered with the physical limits of what you eyes can see of the 360 degree panorama that surrounds you.</p>
		<p>Your practice of this lesson should have the goal of expanding two of the boundaries you will find that hamper this ability. First, when you have your eyes open, thoughts will try to intrude on your passive concentration. When this happens, dismiss these thoughts and return to your observation. Continue and try to reach the goal of observing for about five minutes without any thought. Do not actually time yourself, because that will disrupt you observation. When feel as though five minutes have elapsed, closed your eyes and continue with the second part of the exercise.</p>
		<p>In the second part of the exercise the boundary you will face is maintaining a clear image in your mind of the entire room. This is difficult because as the image becomes fuzzy you will be tempted to focus on one object to bring it back into focus. Try to maintain the image of the entire room. This will become easier with practice. </p>
		<h4>Purpose</h4>
		<p>What you are doing in Cinter-rec is to get a feeling for what Cinter-a is like, to see beyond. When you visualize the room with your eyes closed, you develop the ability to sense what is beyond your closed eyelids. Just as you eyelid shroud your vision in Cinter-rec, in Cinter-a physical reality is shrouding your perception of the higher reality that lies beyond the physical reality. In Cinter-a you will learn to amplify the perception you learned in Cinter-rec  to see beyond the shroud of physical reality.</p>
		<h3>cinter-a: see beyond</h3>
		<p></p>	
	</div>
	<div class="col-md-2">
		&nbsp;
	</div>
</div










 
