<div class="row"> 
      <div class="col-md-4 col-md-offset-4 col-sm-12">
            <div class="panel panel-default">
                  <div class="panel-heading">
                        <h1>
                        Moderation
                        </h1>
                        <p>from Lost Horizons by James Hilton</p>
                  </div>      
                  <div class="panel-heading">
           
<p>Chang answered rather slowly and in scarcely more than a whisper: &ldquo;If I were to put it into a very few words, my dear sir, I should say that our prevalent belief is in moderation. We inculcate the virtue of avoiding excess of all kinds - even including, if you will pardon the paradox, excess of virtue itself. In the valley which you have seen, and in which there are several thousand inhabitants living under the control of our order, we have found that the principle makes for a considerable degree of happiness. We rule with moderate strictness, and in return we are satisfied with moderate obedience. And I think I can claim that our people are moderately sober, moderately chaste, and moderately honest.&rdquo;</p>
                  </div>
            </div>
      </div>
</div>