<div class="row">
<div class="col-md-8 col-md-offset-2 col-sm-12" > 
<div class="panel panel-default">
<div class="panel-header">
      <h1>Hugo and Nebula Nominiees</h1>
    </div>  
 <div id="novels" class="panel-body">

 <table width="100%">
 <tr>
  <td colspan="3" class="award-year">1953</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Alfred Bester</td>
  <td><a href="https://en.wikipedia.org/wiki/The_Demolished_Man"
  target="_blank" title="The Demolished Man">The Demolished Man</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year">1955</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Mark Clifton &amp; Frank Riley</td>
  <td><a
  href="https://en.wikipedia.org/wiki/They&apos;d_Rather_Be_Right" target="_blank"
  title="They'd Rather Be Right">They'd Rather Be Right (aka: The
    Forever Machine)</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year">1956</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Robert A. Heinlein</td>
  <td><a href="https://en.wikipedia.org/wiki/Double_Star"
  target="_blank" title="Double Star">Double Star</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year">1958</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Fritz Leiber</td>
  <td><a href="https://en.wikipedia.org/wiki/The_Big_Time"
  target="_blank" title="The Big Time">The Big Time</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year">1959</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>James Blish</td>
  <td><a href="https://en.wikipedia.org/wiki/A_Case_of_Conscience"
  target="_blank" title="A Case of Conscience">A Case of Conscience</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Robert A. Heinlein</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Have_Space_Suit%E2%80%94Will_Travel"
  target="_blank" title="Have Space Suit—Will Travel">Have Space Suit - Will
    Travel</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Robert Sheckley</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Immortality,_Inc." target="_blank"
  title="Immortality, Inc.">Time Killer (aka: Immortality, Inc.)</a></td>
  </tr>
 <tr>
  <td></td>
  <td>Poul Anderson</td>
  <td>We Have Fed Our
    Sea (aka: The Enemy Stars)</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Algis Budrys</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Who%3F_(novel)" target="_blank"
  title="Who? (novel)">Who?</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year">1960</td>
  </tr>
 <tr>
  <td>Hugo</td>
  <td>Robert A. Heinlein</td>
  <td><a href="https://en.wikipedia.org/wiki/Starship_Troopers"
  target="_blank" title="Starship Troopers">Starship Troopers</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Gordon R. Dickson</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Dorsai!" target="_blank" title="Dorsai!">Dorsai! (aka: The
    Genetic General)</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Mark Phillips</td>
  <td>That Sweet Little Old
    Lady (aka: Brain Twister)</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Murray Leinster</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Pirates_of_Zan" target="_blank"
  title="The Pirates of Zan">The Pirates of Ersatz (aka: The Pirates
    of Zan)</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Kurt Vonnegut</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Sirens_of_Titan" target="_blank"
  title="The Sirens of Titan">The Sirens of Titan</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1961</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Walter M. Miller, Jr.</td>
  <td><a
  href="https://en.wikipedia.org/wiki/A_Canticle_for_Leibowitz" target="_blank"
  title="A Canticle for Leibowitz">A Canticle for Leibowitz</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Harry Harrison</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Deathworld" target="_blank"
  title=Deathworld>Deathworld</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Algis Budrys</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Rogue_Moon" target="_blank"
  title="Rogue Moon">Rogue Moon</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Poul Anderson</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_High_Crusade" target="_blank"
  title="The High Crusade">The High Crusade</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Theodore Sturgeon</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Venus_Plus_X" target="_blank"
  title="Venus Plus X">Venus Plus X</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1962</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Robert A. Heinlein</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Stranger_in_a_Strange_Land"
  target="_blank" title="Stranger in a Strange Land">Stranger in a Strange
    Land</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Daniel F. Galouye</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Dark_Universe_(novel)" target="_blank"
  title="Dark Universe (novel)">Dark Universe</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Harry Harrison</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Planet_of_the_Damned" target="_blank"
  title="Planet of the Damned">Planet of the Damned (aka: Sense of
    Obligation)</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>James White</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Second_Ending" target="_blank"
  title="Second Ending">Second Ending</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Clifford D. Simak</td>
  <td>The Fisherman (aka: Time Is
    the Simplest Thing)</td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1963</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Philip K. Dick</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Man_in_the_High_Castle"
  target="_blank" title="The Man in the High Castle">The Man in the High
    Castle</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Arthur C. Clarke</td>
  <td>A Fall of Moondust</td>
  </tr>
 <tr>
  
  <td></td>
  <td>H. Beam Piper</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Little_Fuzzy" target="_blank"
  title="Little Fuzzy">Little Fuzzy</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Jean Bruller</td>
  <td>Sylva</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Marion Zimmer Bradley</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Sword_of_Aldones" target="_blank"
  title="The Sword of Aldones">The Sword of Aldones</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1964</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Clifford D. Simak</td>
  <td><a href="https://en.wikipedia.org/wiki/Way_Station_(novel)"
  target="_blank" title="Way Station (novel)">Here Gather the
    Stars (aka: Way Station)</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Kurt Vonnegut</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Cat%27s_Cradle" target="_blank"
  title="Cat's Cradle">Cat's Cradle</a></td>
  </tr>
 <tr>
  <td></td>
  <td>Frank Herbert</td>
  <td class=xl78 >Dune World</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Robert A. Heinlein</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Glory_Road" target="_blank"
  title="Glory Road">Glory Road</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Andre Norton</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Witch_World_(novel)" target="_blank"
  title="Witch World (novel)">Witch World</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1965</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Fritz Leiber</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Wanderer_(Leiber_novel)"
  target="_blank" title="The Wanderer (Leiber novel)">The Wanderer</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Edgar Pangborn</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Davy_(novel)" target="_blank"
  title="Davy (novel)">Davy</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Cordwainer Smith</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Norstrilia" target="_blank"
  title=Norstrilia>The Planet Buyer (aka: The Boy Who Bought Old
    Earth)</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>John Brunner</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Whole_Man" target="_blank"
  title="The Whole Man">The Whole Man</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1966</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Roger Zelazny</td>
  <td>...And Call Me Conrad (aka: This Immortal)</td>
  </tr>
 <tr>
  
  <td>Hugo,Nebula</td>
  <td>Frank Herbert</td>
  <td ><a
  href="https://en.wikipedia.org/wiki/Dune_(novel)" target="_blank"
  title="Dune (novel)">Dune</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Keith Laumer</td>
  <td>A Plague of Demons</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Clifford D. Simak</td>
  <td>All Flesh is Grass</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Philip K. Dick</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Dr._Bloodmoney,_or_How_We_Got_Along_After_the_Bomb"
  target="_blank" title="Dr. Bloodmoney, or How We Got Along After the Bomb">Dr.
    Bloodmoney, or How We Got Along After the Bomb</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>William S. Burroughs</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Nova_Express" target="_blank"
  title="Nova Express">Nova Express</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Avram Davidson</td>
  <td>Rogue Dragon</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Edward E. Smith</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Skylark_DuQuesne" target="_blank"
  title="Skylark DuQuesne">Skylark DuQuesne</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Theodore L. Thomas &amp; Kate Wilhelm</td>
  <td>The Clone</td>
  </tr>
 <tr>
  
  <td></td>
  <td>James White</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Escape_Orbit" target="_blank"
  title="The Escape Orbit">The Escape Orbit</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Thomas M. Disch</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Genocides" target="_blank"
  title="The Genocides">The Genocides</a></td>
  </tr>
 <tr>
  <td></td>
  <td>Robert A. Heinlein</td>
  <td class=xl78 >The Moon Is a Harsh Mistress</td>
  </tr>
 <tr>
  
  <td></td>
  <td>G. C. Edmondson</td>
  <td>The Ship That Sailed the Time Stream</td>
  </tr>
 <tr>
  
  <td></td>
  <td>John Brunner</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Squares_of_the_City" target="_blank"
  title="The Squares of the City">The Squares of the City</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Poul Anderson</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Star_Fox" target="_blank"
  title="The Star Fox">The Star Fox</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Philip K. Dick</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Three_Stigmata_of_Palmer_Eldritch"
  target="_blank" title="The Three Stigmata of Palmer Eldritch">The Three
    Stigmata of Palmer Eldritch</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1967</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Robert A. Heinlein</td>
  <td ><a
  href="https://en.wikipedia.org/wiki/The_Moon_Is_a_Harsh_Mistress"
  target="_blank" title="The Moon Is a Harsh Mistress">The Moon Is a Harsh
    Mistress</a></td>
  </tr>
 <tr>
  
  <td>Nebula</td>
  <td>Samuel R. Delany</td>
  <td ><a
  href="https://en.wikipedia.org/wiki/Babel-17" target="_blank"
  title=Babel-17>Babel-17</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Thomas Burnett Swann</td>
  <td>Day of the Minotaur</td>
  </tr>
 <tr>
  
  <td>Nebula</td>
  <td>Daniel Keyes</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Flowers_for_Algernon" target="_blank"
  title="Flowers for Algernon">Flowers for Algernon</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>James H. Schmitz</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Witches_of_Karres" target="_blank"
  title="The Witches of Karres">The Witches of Karres</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Randall Garrett</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Too_Many_Magicians" target="_blank"
  title="Too Many Magicians">Too Many Magicians</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1968</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Roger Zelazny</td>
  <td><a href="https://en.wikipedia.org/wiki/Lord_of_Light"
  target="_blank" title="Lord of Light">Lord of Light</a></td>
  </tr>
 <tr>
  
  <td>Nebula</td>
  <td>Samuel R. Delany</td>
  <td ><a
  href="https://en.wikipedia.org/wiki/The_Einstein_Intersection"
  target="_blank" title="The Einstein Intersection">The Einstein Intersection</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Piers Anthony</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Chthon_(novel)" target="_blank"
  title="Chthon (novel)">Chthon</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Chester Anderson</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Butterfly_Kid" target="_blank"
  title="The Butterfly Kid">The Butterfly Kid</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td class=xl79>Hayden Howard</td>
  <td>The Eskimo Invasion</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Robert Silverberg</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Thorns_(novel)" target="_blank"
  title="Thorns (novel)">Thorns</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1969</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>John Brunner</td>
  <td><a href="https://en.wikipedia.org/wiki/Stand_on_Zanzibar"
  target="_blank" title="Stand on Zanzibar">Stand on Zanzibar</a></td>
  </tr>
 <tr>
  
  <td>Nebula</td>
  <td>Alexei Panshin</td>
  <td ><a
  href="https://en.wikipedia.org/wiki/Rite_of_Passage_(novel)" target="_blank"
  title="Rite of Passage (novel)">Rite of Passage</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>James Blish</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Black_Easter" target="_blank"
  title="Black Easter">Black Easter</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Philip K. Dick</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Do_Androids_Dream_of_Electric_Sheep%3F"
  target="_blank" title="Do Androids Dream of Electric Sheep?">Do Androids
    Dream of Electric Sheep?</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Samuel R. Delany</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Nova_(novel)" target="_blank"
  title="Nova (novel)">Nova</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>R. A. Lafferty</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Past_Master_(novel)" target="_blank"
  title="Past Master (novel)">Past Master</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Joanna Russ</td>
  <td>Picnic on Paradise</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Clifford D. Simak</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Goblin_Reservation" target="_blank"
  title="The Goblin Reservation">The Goblin Reservation</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Robert Silverberg</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Masks_of_Time" target="_blank"
  title="The Masks of Time">The Masks of Time</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1970</td>
  </tr>
 <tr>
  
  <td>Hugo,Nebula</td>
  <td>Ursula K. Le Guin</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Left_Hand_of_Darkness"
  target="_blank" title="The Left Hand of Darkness">The Left Hand of Darkness</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Norman Spinrad</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Bug_Jack_Barron" target="_blank"
  title="Bug Jack Barron">Bug Jack Barron</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Roger Zelazny</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Isle_of_the_Dead_(Zelazny_novel)"
  target="_blank" title="Isle of the Dead (Zelazny novel)">Isle of the Dead</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Piers Anthony</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Macroscope_(novel)" target="_blank"
  title="Macroscope (novel)">Macroscope</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Kurt Vonnegut</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Slaughterhouse-Five" target="_blank"
  title=Slaughterhouse-Five>Slaughterhouse-Five</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>John Brunner</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Jagged_Orbit" target="_blank"
  title="The Jagged Orbit">The Jagged Orbit</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Robert Silverberg</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Up_the_Line" target="_blank"
  title="Up the Line">Up the Line</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1971</td>
  </tr>
 <tr>
  
  <td>Hugo,Nebula</td>
  <td>Larry Niven</td>
  <td><a href="https://en.wikipedia.org/wiki/Ringworld"
  target="_blank" title=Ringworld>Ringworld</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Joanna Russ</td>
  <td><a
  href="https://en.wikipedia.org/wiki/And_Chaos_Died" target="_blank"
  title="And Chaos Died">And Chaos Died</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>R. A. Lafferty</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Fourth_Mansions" target="_blank"
  title="Fourth Mansions">Fourth Mansions</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Hal Clement</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Star_Light" target="_blank"
  title="Star Light">Star Light</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Poul Anderson</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Tau_Zero" target="_blank"
  title="Tau Zero">Tau Zero</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>David G. Compton</td>
  <td>The Steel Crocodile</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Wilson Tucker</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Year_of_the_Quiet_Sun"
  target="_blank" title="The Year of the Quiet Sun">The Year of the Quiet Sun</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Robert Silverberg</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Tower_of_Glass" target="_blank"
  title="Tower of Glass">Tower of Glass</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1972</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Philip Jos&eacute; Farmer</td>
  <td><a
  href="https://en.wikipedia.org/wiki/To_Your_Scattered_Bodies_Go"
  target="_blank" title="To Your Scattered Bodies Go">To Your Scattered Bodies
    Go</a></td>
  </tr>
 <tr>
  
  <td>Nebula</td>
  <td>Robert Silverberg</td>
  <td >A Time of Changes</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Anne McCaffrey</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Dragonquest" target="_blank"
  title=Dragonquest>Dragonquest</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>T. J. Bass</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Half_Past_Human" target="_blank"
  title="Half Past Human">Half Past Human</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Roger Zelazny</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Jack_of_Shadows" target="_blank"
  title="Jack of Shadows">Jack of Shadows</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Kate Wilhelm</td>
  <td>Margaret and I</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Poul Anderson</td>
  <td>The Byworlder</td>
  </tr>
 <tr>
  
  <td></td>
  <td>R. A. Lafferty</td>
  <td>The Devil is Dead</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Ursula K. Le Guin</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Lathe_of_Heaven" target="_blank"
  title="The Lathe of Heaven">The Lathe of Heaven</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1973</td>
  </tr>
 <tr>
  
  <td>Hugo,Nebula</td>
  <td>Isaac Asimov</td>
  <td><a href="https://en.wikipedia.org/wiki/The_Gods_Themselves"
  target="_blank" title="The Gods Themselves">The Gods Themselves</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Clifford D. Simak</td>
  <td>A Choice of Gods</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Robert Silverberg</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Dying_Inside" target="_blank"
  title="Dying Inside">Dying Inside</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Robert Silverberg</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Book_of_Skulls" target="_blank"
  title="The Book of Skulls">The Book of Skulls</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Norman Spinrad</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Iron_Dream" target="_blank"
  title="The Iron Dream">The Iron Dream</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>John Brunner</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Sheep_Look_Up" target="_blank"
  title="The Sheep Look Up">The Sheep Look Up</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Poul Anderson</td>
  <td><a
  href="https://en.wikipedia.org/wiki/There_Will_Be_Time" target="_blank"
  title="There Will Be Time">There Will Be Time</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>George Alec Effinger</td>
  <td>What Entropy Means to Me</td>
  </tr>
 <tr>
  
  <td></td>
  <td>David Gerrold</td>
  <td><a
  href="https://en.wikipedia.org/wiki/When_HARLIE_Was_One" target="_blank"
  title="When HARLIE Was One">When HARLIE Was One</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1974</td>
  </tr>
 <tr>
  
  <td>Hugo,Nebula</td>
  <td>Arthur C. Clarke</td>
  <td><a href="https://en.wikipedia.org/wiki/Rendezvous_with_Rama"
  target="_blank" title="Rendezvous with Rama">Rendezvous with Rama</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Thomas Pynchon</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Gravity%27s_Rainbow" target="_blank"
  title="Gravity's Rainbow">Gravity's Rainbow</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Larry Niven</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Protector_(novel)" target="_blank"
  title="Protector (novel)">Protector</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>David Gerrold</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Man_Who_Folded_Himself"
  target="_blank" title="The Man Who Folded Himself">The Man Who Folded
    Himself</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Poul Anderson</td>
  <td>The People of the Wind</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Robert A. Heinlein</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Time_Enough_for_Love" target="_blank"
  title="Time Enough for Love">Time Enough for Love</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1975</td>
  </tr>
 <tr>
  
  <td>Hugo,Nebula</td>
  <td>Ursula K. Le Guin</td>
  <td><a href="https://en.wikipedia.org/wiki/The_Dispossessed"
  target="_blank" title="The Dispossessed">The Dispossessed</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Thomas M. Disch</td>
  <td ><a
  href="https://en.wikipedia.org/wiki/334_(novel)" target="_blank"
  title="334 (novel)">334</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Poul Anderson</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Fire_Time" target="_blank"
  title="Fire Time">Fire Time</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Philip K. Dick</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Flow_My_Tears,_the_Policeman_Said"
  target="_blank" title="Flow My Tears, the Policeman Said">Flow My Tears, the
    Policeman Said</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Christopher Priest</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Inverted_World" target="_blank"
  title="Inverted World">Inverted World</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>T. J. Bass</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Godwhale" target="_blank"
  title="The Godwhale">The Godwhale</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Larry Niven</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Mote_in_God%27s_Eye" target="_blank"
  title="The Mote in God's Eye">The Mote in God's Eye</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1976</td>
  </tr>
 <tr>
  
  <td>Hugo,Nebula</td>
  <td>Joe Haldeman</td>
  <td><a href="https://en.wikipedia.org/wiki/The_Forever_War"
  target="_blank" title="The Forever War">The Forever War</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Michael Bishop</td>
  <td>A Funeral for the Eyes of Fire</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Poul Anderson</td>
  <td><a
  href="https://en.wikipedia.org/wiki/A_Midsummer_Tempest" target="_blank"
  title="A Midsummer Tempest">A Midsummer Tempest</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Arthur Byron Cover</td>
  <td>Autumn Angels</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Samuel R. Delany</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Dhalgren" target="_blank"
  title=Dhalgren>Dhalgren</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Roger Zelazny</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Doorways_in_the_Sand" target="_blank"
  title="Doorways in the Sand">Doorways in the Sand</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Barry N. Malzberg</td>
  <td>Guernica Night</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Larry Niven &amp; Jerry Pournelle</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Inferno_(Niven_and_Pournelle_novel)"
  target="_blank" title="Inferno (Niven and Pournelle novel)">Inferno</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Italo Calvino</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Invisible_Cities" target="_blank"
  title="Invisible Cities">Invisible Cities</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>E. L. Doctorow</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Ragtime_(novel)" target="_blank"
  title="Ragtime (novel)">Ragtime</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Tanith Lee</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Birthgrave_Trilogy" target="_blank"
  title="The Birthgrave Trilogy">The Birthgrave</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Alfred Bester</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Computer_Connection" target="_blank"
  title="The Computer Connection">The Computer Connection (aka: The
    Indian Giver)</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Ian Watson</td>
  <td>The Embedding</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Vonda N. McIntyre</td>
  <td>The Exile Waiting</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Joanna Russ</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Female_Man" target="_blank"
  title="The Female Man">The Female Man</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Marion Zimmer Bradley</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Heritage_of_Hastur" target="_blank"
  title="The Heritage of Hastur">The Heritage of Hastur</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Katherine MacLean</td>
  <td>The Missing Man</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Larry Niven</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Mote_in_God%27s_Eye" target="_blank"
  title="The Mote in God's Eye">The Mote in God's Eye</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Robert Silverberg</td>
  <td>The Stochastic Man</td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1977</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Kate Wilhelm</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Where_Late_the_Sweet_Birds_Sang"
  target="_blank" title="Where Late the Sweet Birds Sang">Where Late the Sweet
    Birds Sang</a></td>
  </tr>
 <tr>
  
  <td>Nebula</td>
  <td>Frederik Pohl</td>
  <td ><a
  href="https://en.wikipedia.org/wiki/Man_Plus" target="_blank"
  title="Man Plus">Man Plus</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Frank Herbert</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Children_of_Dune" target="_blank"
  title="Children of Dune">Children of Dune</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Larry Niven &amp; Jerry Pournelle</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Inferno_(Niven_and_Pournelle_novel)"
  target="_blank" title="Inferno (Niven and Pournelle novel)">Inferno</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td class=xl69>Marta Randall</td>
  <td>Islands</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Frederik Pohl</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Man_Plus" target="_blank"
  title="Man Plus">Man Plus</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Joe Haldeman</td>
  <td>Mindbridge</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Robert Silverberg</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Shadrach_in_the_Furnace" target="_blank"
  title="Shadrach in the Furnace">Shadrach in the Furnace</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Samuel R. Delany</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Triton_(novel)" target="_blank"
  title="Triton (novel)">Triton</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Kate Wilhelm</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Where_Late_the_Sweet_Birds_Sang"
  target="_blank" title="Where Late the Sweet Birds Sang">Where Late the Sweet
    Birds Sang</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1978</td>
  </tr>
 <tr>
  
  <td>Hugo,Nebula</td>
  <td>Frederik Pohl</td>
  <td><a href="https://en.wikipedia.org/wiki/Gateway_(novel)"
  target="_blank" title="Gateway (novel)">Gateway</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Terry Carr</td>
  <td>Cirque</td>
  </tr>
 <tr>
  
  <td></td>
  <td>George R. R. Martin</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Dying_of_the_Light" target="_blank"
  title="Dying of the Light">Dying of the Light</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Gregory Benford</td>
  <td><a
  href="https://en.wikipedia.org/wiki/In_the_Ocean_of_Night" target="_blank"
  title="In the Ocean of Night">In the Ocean of Night</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Larry Niven &amp; Jerry Pournelle</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Lucifer%27s_Hammer" target="_blank"
  title="Lucifer's Hammer">Lucifer's Hammer</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>David Gerrold</td>
  <td>Moonstar Odyssey</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Richard A. Lupoff</td>
  <td>Sword of Demon</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Marion Zimmer Bradley</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Forbidden_Tower" target="_blank"
  title="The Forbidden Tower">The Forbidden Tower</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Gordon R. Dickson</td>
  <td>Time Storm</td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1979</td>
  </tr>
 <tr>
  
  <td>Hugo,Nebula</td>
  <td>Vonda N. McIntyre</td>
  <td><a href="https://en.wikipedia.org/wiki/Dreamsnake"
  target="_blank" title=Dreamsnake>Dreamsnake</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Tom Reamy</td>
  <td>Blind Voices</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Gore Vidal</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Kalki_(novel)" target="_blank"
  title="Kalki (novel)">Kalki</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Gardner Dozois</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Strangers_(Gardner_Dozois_novel)"
  target="_blank" title="Strangers (Gardner Dozois novel)">Strangers</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>C. J. Cherryh</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Faded_Sun_Trilogy" target="_blank"
  title="Faded Sun Trilogy">The Faded Sun: Kesrith</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Anne McCaffrey</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_White_Dragon_(novel)" target="_blank"
  title="The White Dragon (novel)">The White Dragon</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1980</td>
  </tr>
 <tr>
  
  <td>Hugo,Nebula</td>
  <td>Arthur C. Clarke</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Fountains_of_Paradise"
  target="_blank" title="The Fountains of Paradise">The Fountains of Paradise</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Patricia A. McKillip</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Harpist_in_the_Wind" target="_blank"
  title="Harpist in the Wind">Harpist in the Wind</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Frederik Pohl</td>
  <td>Jem</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Kate Wilhelm</td>
  <td>Juniper Time</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Thomas Disch</td>
  <td><a
  href="https://en.wikipedia.org/wiki/On_Wings_of_Song" target="_blank"
  title="On Wings of Song">On Wings of Song</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Richard Cowper</td>
  <td>The Road to Corlay</td>
  </tr>
 <tr>
  
  <td></td>
  <td>John Varley</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Titan_(John_Varley_novel)"
  target="_blank" title="Titan (John Varley novel)">Titan</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1981</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Joan D. Vinge</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Snow_Queen_(Vinge_novel)"
  target="_blank" title="The Snow Queen (Vinge novel)">The Snow Queen</a></td>
  </tr>
 <tr>
  
  <td>Nebula</td>
  <td>Gregory Benford</td>
  <td ><a
  href="https://en.wikipedia.org/wiki/Timescape" target="_blank"
  title=Timescape>Timescape</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Frederik Pohl</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Beyond_the_Blue_Event_Horizon"
  target="_blank" title="Beyond the Blue Event Horizon">Beyond the Blue Event
    Horizon</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Robert Silverberg</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Majipoor_series" target="_blank"
  title="Majipoor series">Lord Valentine's Castle</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Walter Tevis</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Mockingbird_(Tevis_novel)"
  target="_blank" title="Mockingbird (Tevis novel)">Mockingbird</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td class=xl79>Robert Stallman</td>
  <td>The Orphan</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Larry Niven</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Ringworld_Engineers" target="_blank"
  title="The Ringworld Engineers">The Ringworld Engineers</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Gene Wolfe</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Shadow_of_the_Torturer"
  target="_blank" title="The Shadow of the Torturer">The Shadow of the
    Torturer</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Joan D. Vinge</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Snow_Queen_(Vinge_novel)"
  target="_blank" title="The Snow Queen (Vinge novel)">The Snow Queen</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>John Varley</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Wizard_(novel)" target="_blank"
  title="Wizard (novel)">Wizard</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1982</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>C. J. Cherryh</td>
  <td><a href="https://en.wikipedia.org/wiki/Downbelow_Station"
  target="_blank" title="Downbelow Station">Downbelow Station</a></td>
  </tr>
 <tr>
  
  <td>Nebula</td>
  <td>Gene Wolfe</td>
  <td ><a
  href="https://en.wikipedia.org/wiki/The_Claw_of_the_Conciliator"
  target="_blank" title="The Claw of the Conciliator">The Claw of the
    Conciliator</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>John Crowley</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Little,_Big" target="_blank"
  title="Little, Big">Little, Big</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Clifford D. Simak</td>
  <td>Project Pope</td>
  </tr>
 <tr>
  
  <td></td>
  <td>A. A. Attanasio</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Radix_(novel)" target="_blank"
  title="Radix (novel)">Radix</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Russell Hoban</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Riddley_Walker" target="_blank"
  title="Riddley Walker">Riddley Walker</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Gene Wolfe</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Claw_of_the_Conciliator"
  target="_blank" title="The Claw of the Conciliator">The Claw of the
    Conciliator</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Julian May</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Many-Colored_Land" target="_blank"
  title="The Many-Colored Land">The Many-Colored Land</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Suzy McKee Charnas</td>
  <td>The Vampire Tapestry</td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1983</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Isaac Asimov</td>
  <td><a href="https://en.wikipedia.org/wiki/Foundation%27s_Edge"
  target="_blank" title="Foundation's Edge">Foundation's Edge</a></td>
  </tr>
 <tr>
  
  <td>Nebula</td>
  <td>Michael Bishop</td>
  <td ><a
  href="https://en.wikipedia.org/wiki/No_Enemy_But_Time" target="_blank"
  title="No Enemy But Time">No Enemy But Time</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Arthur C. Clarke</td>
  <td><a
  href="https://en.wikipedia.org/wiki/2010:_Odyssey_Two" target="_blank"
  title="2010: Odyssey Two">2010: Odyssey Two</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Donald Kingsbury</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Courtship_Rite" target="_blank"
  title="Courtship Rite">Courtship Rite</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Isaac Asimov</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Foundation%27s_Edge" target="_blank"
  title="Foundation's Edge">Foundation's Edge</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Robert A. Heinlein</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Friday_(novel)" target="_blank"
  title="Friday (novel)">Friday</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Brian Aldiss</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Helliconia" target="_blank"
  title=Helliconia>Helliconia Spring</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>C. J. Cherryh</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Chanur_novels" target="_blank"
  title="The Chanur novels">The Pride of Chanur</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Gene Wolfe</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Sword_of_the_Lictor" target="_blank"
  title="The Sword of the Lictor">The Sword of the Lictor</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Philip K. Dick</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Transmigration_of_Timothy_Archer"
  target="_blank" title="The Transmigration of Timothy Archer">The
    Transmigration of Timothy Archer</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1984</td>
  </tr>
 <tr>
  
  <td>Hugo,Nebula</td>
  <td>David Brin</td>
  <td><a href="https://en.wikipedia.org/wiki/Startide_Rising"
  target="_blank" title="Startide Rising">Startide Rising</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Gregory Benford</td>
  <td>Against Infinity</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Jack Vance</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Lyonesse_Trilogy" target="_blank"
  title="Lyonesse Trilogy">Lyonesse</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>John Varley</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Millennium_(novel)" target="_blank"
  title="Millennium (novel)">Millennium</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Anne McCaffrey</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Moreta:_Dragonlady_of_Pern"
  target="_blank" title="Moreta: Dragonlady of Pern">Moreta: Dragonlady of
    Pern</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>R. A. MacAvoy</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Tea_with_the_Black_Dragon"
  target="_blank" title="Tea with the Black Dragon">Tea with the Black Dragon</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Gene Wolfe</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Book_of_the_New_Sun" target="_blank"
  title="The Book of the New Sun">The Citadel of the Autarch</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Isaac Asimov</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Robots_of_Dawn" target="_blank"
  title="The Robots of Dawn">The Robots of Dawn</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Norman Spinrad</td>
  <td>The Void Captain's Tale</td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1985</td>
  </tr>
 <tr>
  
  <td>Hugo,Nebula</td>
  <td>William Gibson</td>
  <td><a href="https://en.wikipedia.org/wiki/Neuromancer"
  target="_blank" title=Neuromancer>Neuromancer</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>David R. Palmer</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Emergence_(novel)" target="_blank"
  title="Emergence (novel)">Emergence</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Lewis Shiner</td>
  <td>Frontera</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Robert A. Heinlein</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Job:_A_Comedy_of_Justice" target="_blank"
  title="Job: A Comedy of Justice">Job: A Comedy of Justice</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Larry Niven</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Integral_Trees" target="_blank"
  title="The Integral Trees">The Integral Trees</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Jack Dann</td>
  <td>The Man Who Melted</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Vernor Vinge</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Peace_War" target="_blank"
  title="The Peace War">The Peace War</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Kim Stanley Robinson</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Three_Californias_Trilogy"
  target="_blank" title="Three Californias Trilogy">The Wild Shore</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1986</td>
  </tr>
 <tr>
  
  <td>Hugo,Nebula</td>
  <td>Orson Scott Card</td>
  <td><a href="https://en.wikipedia.org/wiki/Ender%27s_Game"
  target="_blank" title="Ender's Game">Ender's Game</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Greg Bear</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Blood_Music_(novel)" target="_blank"
  title="Blood Music (novel)">Blood Music</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>C. J. Cherryh</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Cuckoo%27s_Egg" target="_blank"
  title="Cuckoo's Egg">Cuckoo's Egg</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Tim Powers</td>
  <td>Dinner at Deviant's Palace</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Larry Niven &amp; Jerry Pournelle</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Footfall" target="_blank"
  title=Footfall>Footfall</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Brian Aldiss</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Helliconia" target="_blank"
  title=Helliconia>Helliconia Winter</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Bruce Sterling</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Schismatrix" target="_blank"
  title=Schismatrix>Schismatrix</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>David Brin</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Postman" target="_blank"
  title="The Postman">The Postman</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Barry N. Malzberg</td>
  <td>The Remaking of Sigmund Freud</td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1987</td>
  </tr>
 <tr>
  
  <td>Hugo,Nebula</td>
  <td>Orson Scott Card</td>
  <td><a href="https://en.wikipedia.org/wiki/Speaker_for_the_Dead"
  target="_blank" title="Speaker for the Dead">Speaker for the Dead</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>L. Ron Hubbard</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Mission_Earth_(novel)" target="_blank"
  title="Mission Earth (novel)">Black Genesis</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>William Gibson</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Count_Zero" target="_blank"
  title="Count Zero">Count Zero</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Gene Wolfe</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Free_Live_Free" target="_blank"
  title="Free Live Free">Free Live Free</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Vernor Vinge</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Marooned_in_Realtime" target="_blank"
  title="Marooned in Realtime">Marooned in Realtime</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Margaret Atwood</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Handmaid%27s_Tale" target="_blank"
  title="The Handmaid's Tale">The Handmaid's Tale</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Leigh Kennedy</td>
  <td>The Journal of Nicholas the American</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Bob Shaw</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Land_and_Overland" target="_blank"
  title="Land and Overland">The Ragged Astronauts</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>James K. Morrow</td>
  <td>This is the Way the World Ends</td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1988</td>
  </tr>
 <tr>
  <td>Hugo</td>
  <td>David Brin</td>
  <td class=xl70><a href="https://en.wikipedia.org/wiki/The_Uplift_War"
  target="_blank" title="The Uplift War">The Uplift War</a></td>
  </tr>
 <tr>
  
  <td>Nebula</td>
  <td>Pat Murphy</td>
  <td class=xl71><a href="https://en.wikipedia.org/wiki/The_Falling_Woman"
  target="_blank" title="The Falling Woman">The Falling Woman</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Orson Scott Card</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Seventh_Son_(novel)" target="_blank"
  title="Seventh Son (novel)">Seventh Son</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Gene Wolfe</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Soldier_of_the_Mist" target="_blank"
  title="Soldier of the Mist">Soldier of the Mist</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Greg Bear</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Forge_of_God" target="_blank"
  title="The Forge of God">The Forge of God</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>David Brin</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Uplift_War" target="_blank"
  title="The Uplift War">The Uplift War</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Gene Wolfe</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Urth_of_the_New_Sun" target="_blank"
  title="The Urth of the New Sun">The Urth of the New Sun</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Avram Davidson</td>
  <td>Vergil in Averno</td>
  </tr>
 <tr>
  
  <td></td>
  <td>George Alec Effinger</td>
  <td><a
  href="https://en.wikipedia.org/wiki/When_Gravity_Fails" target="_blank"
  title="When Gravity Fails">When Gravity Fails</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1988</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>C. J. Cherryh</td>
  <td><a href="https://en.wikipedia.org/wiki/Cyteen" target="_blank"
  title=Cyteen>Cyteen</a></td>
  </tr>
 <tr>
  
  <td>Nebula</td>
  <td>Lois McMaster Bujold</td>
  <td ><a
  href="https://en.wikipedia.org/wiki/Falling_Free" target="_blank"
  title="Falling Free">Falling Free</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Lewis Shiner</td>
  <td>Deserted Cities of the Heart</td>
  </tr>
 <tr>
  
  <td></td>
  <td>George Turner</td>
  <td>Drowning Towers</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Lois McMaster Bujold</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Falling_Free" target="_blank"
  title="Falling Free">Falling Free</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Gregory Benford</td>
  <td ><a
  href="https://en.wikipedia.org/wiki/Great_Sky_River_(novel)" target="_blank"
  title="Great Sky River (novel)">Great Sky River</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Bruce Sterling</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Islands_in_the_Net" target="_blank"
  title="Islands in the Net">Islands in the Net</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>William Gibson</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Mona_Lisa_Overdrive" target="_blank"
  title="Mona Lisa Overdrive">Mona Lisa Overdrive</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Orson Scott Card</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Red_Prophet" target="_blank"
  title="Red Prophet">Red Prophet</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Gene Wolfe</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Urth_of_the_New_Sun" target="_blank"
  title="The Urth of the New Sun">The Urth of the New Sun</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1990</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Dan Simmons</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Hyperion_(Simmons_novel)" target="_blank"
  title="Hyperion (Simmons novel)">Hyperion</a></td>
  </tr>
 <tr>
  
  <td>Nebula</td>
  <td>Elizabeth Ann Scarborough</td>
  <td ><a
  href="https://en.wikipedia.org/wiki/The_Healer%27s_War" target="_blank"
  title="The Healer's War">The Healer's War</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>George Alec Effinger</td>
  <td><a
  href="https://en.wikipedia.org/wiki/A_Fire_in_the_Sun" target="_blank"
  title="A Fire in the Sun">A Fire in the Sun</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>John Kessel</td>
  <td>Good News From Outer Space</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Sheri S. Tepper</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Grass_(novel)" target="_blank"
  title="Grass (novel)">Grass</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Mike Resnick</td>
  <td>Ivory: A Legend of Past and Future</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Orson Scott Card</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Prentice_Alvin" target="_blank"
  title="Prentice Alvin">Prentice Alvin</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Jane Yolen</td>
  <td>Sister Light, Sister Dark</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Poul Anderson</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Boat_of_a_Million_Years"
  target="_blank" title="The Boat of a Million Years">The Boat of a Million
    Years</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1991</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Lois McMaster Bujold</td>
  <td><a href="https://en.wikipedia.org/wiki/The_Vor_Game"
  target="_blank" title="The Vor Game">The Vor Game</a></td>
  </tr>
 <tr>
  
  <td>Nebula</td>
  <td>Ursula K. Le Guin</td>
  <td ><a
  href="https://en.wikipedia.org/wiki/Tehanu" target="_blank" title=Tehanu>Tehanu:
    The Last Book of Earthsea</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>David Brin</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Earth_(Brin_novel)" target="_blank"
  title="Earth (Brin novel)">Earth</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Valerie Martin</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Mary_Reilly_(novel)" target="_blank"
  title="Mary Reilly (novel)">Mary Reilly</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>James K. Morrow</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Only_Begotten_Daughter" target="_blank"
  title="Only Begotten Daughter">Only Begotten Daughter</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Greg Bear</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Queen_of_Angels_(novel)" target="_blank"
  title="Queen of Angels (novel)">Queen of Angels</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>John E. Stith</td>
  <td>Redshift Rendezvous</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Dan Simmons</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Fall_of_Hyperion_(novel)"
  target="_blank" title="The Fall of Hyperion (novel)">The Fall of Hyperion</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Michael P. Kube-McDowell</td>
  <td>The Quiet Pools</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Jane Yolen</td>
  <td>White Jenna</td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1992</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Lois McMaster Bujold</td>
  <td><a href="https://en.wikipedia.org/wiki/Barrayar"
  target="_blank" title=Barrayar>Barrayar</a></td>
  </tr>
 <tr>
  
  <td>Nebula</td>
  <td>Michael Swanwick</td>
  <td ><a
  href="https://en.wikipedia.org/wiki/Stations_of_the_Tide" target="_blank"
  title="Stations of the Tide">Stations of the Tide</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Anne McCaffrey</td>
  <td><a
  href="https://en.wikipedia.org/wiki/All_the_Weyrs_of_Pern" target="_blank"
  title="All the Weyrs of Pern">All the Weyrs of Pern</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Lois McMaster Bujold</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Vorkosigan_Saga#Barrayar" target="_blank"
  title="Vorkosigan Saga">Barrayar</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Emma Bull</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Bone_Dance" target="_blank"
  title="Bone Dance">Bone Dance</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>John Barnes</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Orbital_Resonance_(novel)"
  target="_blank" title="Orbital Resonance (novel)">Orbital Resonance</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Michael Swanwick</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Stations_of_the_Tide" target="_blank"
  title="Stations of the Tide">Stations of the Tide</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Pat Cadigan</td>
  <td>Synners</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Bruce Sterling &amp;William Gibson</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Difference_Engine" target="_blank"
  title="The Difference Engine">The Difference Engine</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Joan D. Vinge</td>
  <td>The Summer Queen</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Orson Scott Card</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Xenocide" target="_blank"
  title=Xenocide>Xenocide</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1993</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Vernor Vinge</td>
  <td><a href="https://en.wikipedia.org/wiki/A_Fire_Upon_the_Deep"
  target="_blank" title="A Fire Upon the Deep">A Fire Upon the Deep</a></td>
  </tr>
 <tr>
  
  <td>Hugo,Nebula</td>
  <td>Connie Willis</td>
  <td ><a
  href="https://en.wikipedia.org/wiki/Doomsday_Book_(novel)" target="_blank"
  title="Doomsday Book (novel)">Doomsday Book</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Vernor Vinge</td>
  <td><a
  href="https://en.wikipedia.org/wiki/A_Fire_Upon_the_Deep" target="_blank"
  title="A Fire Upon the Deep">A Fire Upon the Deep</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>John Barnes</td>
  <td><a
  href="https://en.wikipedia.org/wiki/A_Million_Open_Doors" target="_blank"
  title="A Million Open Doors">A Million Open Doors</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Jane Yolen</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Briar_Rose_(novel)" target="_blank"
  title="Briar Rose (novel)">Briar Rose</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Maureen F. McHugh</td>
  <td><a
  href="https://en.wikipedia.org/wiki/China_Mountain_Zhang" target="_blank"
  title="China Mountain Zhang">China Mountain Zhang</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Kim Stanley Robinson</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Mars_trilogy" target="_blank"
  title="Mars trilogy">Red Mars</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Karen Joy Fowler</td>
  <td>Sarah Canary</td>
  </tr>
 <tr>
  
  <td></td>
  <td>John Varley</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Steel_Beach" target="_blank"
  title="Steel Beach">Steel Beach</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1994</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Kim Stanley Robinson</td>
  <td><a href="https://en.wikipedia.org/wiki/Mars_trilogy"
  target="_blank" title="Mars trilogy">Green Mars</a></td>
  </tr>
 <tr>
  
  <td>Nebula</td>
  <td>Kim Stanley Robinson</td>
  <td ><a
  href="https://en.wikipedia.org/wiki/Mars_trilogy" target="_blank"
  title="Mars trilogy">Red Mars</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Kevin J. Anderson &amp; Doug Beason</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Assemblers_of_Infinity" target="_blank"
  title="Assemblers of Infinity">Assemblers of Infinity</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Nancy Kress</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Beggars_in_Spain" target="_blank"
  title="Beggars in Spain">Beggars in Spain</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>David Brin</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Glory_Season" target="_blank"
  title="Glory Season">Glory Season</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Algis Budrys</td>
  <td>Hard Landing</td>
  </tr>
 <tr>
  <td></td>
  <td>Greg Bear</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Moving_Mars" target="_blank"
  title="Moving Mars">Moving Mars</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Gene Wolfe</td>
  <td class=xl74><a
  href="https://en.wikipedia.org/wiki/The_Book_of_the_Long_Sun" target="_blank"
  title="The Book of the Long Sun">Nightside the Long Sun</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>William Gibson</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Virtual_Light" target="_blank"
  title="Virtual Light">Virtual Light</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1995</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Lois McMaster Bujold</td>
  <td><a href="https://en.wikipedia.org/wiki/Mirror_Dance"
  target="_blank" title="Mirror Dance">Mirror Dance</a></td>
  </tr>
 <tr>
  
  <td>Nebula</td>
  <td>Greg Bear</td>
  <td class=xl70 ><a
  href="https://en.wikipedia.org/wiki/Moving_Mars" target="_blank"
  title="Moving Mars">Moving Mars</a></td>
  </tr>
 <tr>
  
  <td>Nebula</td>
  <td>Vonda N. McIntyre</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Moon_and_the_Sun" target="_blank"
  title="The Moon and the Sun">The Moon and the Sun</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>George R. R. Martin</td>
  <td><a
  href="https://en.wikipedia.org/wiki/A_Game_of_Thrones" target="_blank"
  title="A Game of Thrones">A Game of Thrones</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Roger Zelazny</td>
  <td><a
  href="https://en.wikipedia.org/wiki/A_Night_in_the_Lonesome_October"
  target="_blank" title="A Night in the Lonesome October">A Night in the
    Lonesome October</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Jack McDevitt</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Ancient_Shores" target="_blank"
  title="Ancient Shores">Ancient Shores</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Nancy Kress</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Beggars_and_Choosers_(novel)"
  target="_blank" title="Beggars and Choosers (novel)">Beggars and Choosers</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Connie Willis</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Bellwether_(novel)" target="_blank"
  title="Bellwether (novel)">Bellwether</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Michael Bishop</td>
  <td>Brittle Innings</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Walter Jon Williams</td>
  <td><a
  href="https://en.wikipedia.org/wiki/City_on_Fire_(novel)" target="_blank"
  title="City on Fire (novel)">City on Fire</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Kim Stanley Robinson</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Mars_trilogy" target="_blank"
  title="Mars trilogy">Green Mars</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Jonathan Lethem</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Gun,_with_Occasional_Music"
  target="_blank" title="Gun, with Occasional Music">Gun, with Occasional
    Music</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Kate Elliott</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Crown_of_Stars_(series)" target="_blank"
  title="Crown of Stars (series)">King's Dragon</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Lois McMaster Bujold</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Vorkosigan_Saga#Memory" target="_blank"
  title="Vorkosigan Saga">Memory</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>John Barnes</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Mother_of_Storms" target="_blank"
  title="Mother of Storms">Mother of Storms</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Octavia E. Butler</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Parable_of_the_Sower_(novel)"
  target="_blank" title="Parable of the Sower (novel)">Parable of the Sower</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Rachel Pollack</td>
  <td>Temporary Agency</td>
  </tr>
 <tr>
  
  <td></td>
  <td>James K. Morrow</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Towing_Jehovah" target="_blank"
  title="Towing Jehovah">Towing Jehovah</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1996</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Neal Stephenson</td>
  <td><a href="https://en.wikipedia.org/wiki/The_Diamond_Age"
  target="_blank" title="The Diamond Age">The Diamond Age</a></td>
  </tr>
 <tr>
  
  <td>Nebula</td>
  <td>Robert J. Sawyer</td>
  <td ><a
  href="https://en.wikipedia.org/wiki/The_Terminal_Experiment" target="_blank"
  title="The Terminal Experiment">The Terminal Experiment</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Nancy Kress</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Beggars_and_Choosers_(novel)"
  target="_blank" title="Beggars and Choosers (novel)">Beggars and Choosers</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>David Brin</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Brightness_Reef" target="_blank"
  title="Brightness Reef">Brightness Reef</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Gene Wolfe</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Book_of_the_Long_Sun" target="_blank"
  title="The Book of the Long Sun">Calde of the Long Sun</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Paul Park</td>
  <td>Celestis</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Walter Jon Williams</td>
  <td ><a
  href="https://en.wikipedia.org/wiki/Metropolitan_(novel)" target="_blank"
  title="Metropolitan (novel)">Metropolitan</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>John Barnes</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Mother_of_Storms" target="_blank"
  title="Mother of Storms">Mother of Storms</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Connie Willis</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Remake_(novel)" target="_blank"
  title="Remake (novel)">Remake</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Robert J. Sawyer</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Terminal_Experiment" target="_blank"
  title="The Terminal Experiment">The Terminal
    Experiment (aka: Hobson's Choice)</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Stephen Baxter</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Time_Ships" target="_blank"
  title="The Time Ships">The Time Ships</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1997</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Kim Stanley Robinson</td>
  <td><a href="https://en.wikipedia.org/wiki/Mars_trilogy"
  target="_blank" title="Mars trilogy">Blue Mars</a></td>
  </tr>
 <tr>
  
  <td>Nebula</td>
  <td>Nicola Griffith</td>
  <td ><a
  href="https://en.wikipedia.org/wiki/Slow_River" target="_blank"
  title="Slow River">Slow River</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Tim Powers</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Expiration_Date_(novel)" target="_blank"
  title="Expiration Date (novel)">Expiration Date</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Bruce Sterling</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Holy_Fire_(novel)" target="_blank"
  title="Holy Fire (novel)">Holy Fire</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Lois McMaster Bujold</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Memory_(Bujold_novel)" target="_blank"
  title="Memory (Bujold novel)">Memory</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Elizabeth Moon</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Remnant_Population" target="_blank"
  title="Remnant Population">Remnant Population</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Robert J. Sawyer</td>
  <td>Starplex</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Neal Stephenson</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Diamond_Age" target="_blank"
  title="The Diamond Age">The Diamond Age</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Nina Kiriki Hoffman</td>
  <td>The Silent Strength of Stones</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Patricia A. McKillip</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Winter_Rose_(novel)" target="_blank"
  title="Winter Rose (novel)">Winter Rose</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1998</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Joe Haldeman</td>
  <td><a href="https://en.wikipedia.org/wiki/Forever_Peace"
  target="_blank" title="Forever Peace">Forever Peace</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Walter Jon Williams</td>
  <td><a
  href="https://en.wikipedia.org/wiki/City_on_Fire_(novel)" target="_blank"
  title="City on Fire (novel)">City on Fire</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Robert J. Sawyer</td>
  <td>Frameshift</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Michael Swanwick</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Jack_Faust_(novel)" target="_blank"
  title="Jack Faust (novel)">Jack Faust</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Dan Simmons</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Rise_of_Endymion" target="_blank"
  title="The Rise of Endymion">The Rise of Endymion</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >1999</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Connie Willis</td>
  <td><a
  href="https://en.wikipedia.org/wiki/To_Say_Nothing_of_the_Dog"
  target="_blank" title="To Say Nothing of the Dog">To Say Nothing of the Dog</a></td>
  </tr>
 <tr>
  
  <td>Nebula</td>
  <td>Joe Haldeman</td>
  <td ><a
  href="https://en.wikipedia.org/wiki/Forever_Peace" target="_blank"
  title="Forever Peace">Forever Peace</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Mary Doria Russell</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Children_of_God_(novel)" target="_blank"
  title="Children of God (novel)">Children of God</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Robert Charles Wilson</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Darwinia_(novel)" target="_blank"
  title="Darwinia (novel)">Darwinia</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Martha Wells</td>
  <td>Death of the Necromancer</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Bruce Sterling</td>
  <td>Distraction</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Robert J. Sawyer</td>
  <td>Factoring Humanity</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Harry Turtledove</td>
  <td><a
  href="https://en.wikipedia.org/wiki/How_Few_Remain" target="_blank"
  title="How Few Remain">How Few Remain</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Jack McDevitt</td>
  <td>Moonfall</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Catherine Asaro</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Last_Hawk" target="_blank"
  title="The Last Hawk">The Last Hawk</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Connie Willis</td>
  <td><a
  href="https://en.wikipedia.org/wiki/To_Say_Nothing_of_the_Dog"
  target="_blank" title="To Say Nothing of the Dog">To Say Nothing of the Dog</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >2000</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Vernor Vinge</td>
  <td><a href="https://en.wikipedia.org/wiki/A_Deepness_in_the_Sky"
  target="_blank" title="A Deepness in the Sky">A Deepness in the Sky</a></td>
  </tr>
 <tr>
  
  <td>Nebula</td>
  <td>Octavia E. Butler</td>
  <td ><a
  href="https://en.wikipedia.org/wiki/Parable_of_the_Talents_(novel)"
  target="_blank" title="Parable of the Talents (novel)">Parable of the
    Talents</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Lois McMaster Bujold</td>
  <td><a
  href="https://en.wikipedia.org/wiki/A_Civil_Campaign" target="_blank"
  title="A Civil Campaign">A Civil Campaign</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>George R. R. Martin</td>
  <td><a
  href="https://en.wikipedia.org/wiki/A_Clash_of_Kings" target="_blank"
  title="A Clash of Kings">A Clash of Kings</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Vernor Vinge</td>
  <td><a
  href="https://en.wikipedia.org/wiki/A_Deepness_in_the_Sky" target="_blank"
  title="A Deepness in the Sky">A Deepness in the Sky</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Neal Stephenson</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Cryptonomicon" target="_blank"
  title=Cryptonomicon>Cryptonomicon</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Greg Bear</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Darwin%27s_Radio" target="_blank"
  title="Darwin's Radio">Darwin's Radio</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>J. K. Rowling</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Harry_Potter_and_the_Prisoner_of_Azkaban"
  target="_blank" title="Harry Potter and the Prisoner of Azkaban">Harry
    Potter and the Prisoner of Azkaban</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Maureen F. McHugh</td>
  <td>Mission Child</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Sean Stewart</td>
  <td>Mockingbird</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Ken MacLeod</td>
  <td>The Cassini Division</td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >2001</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>J. K. Rowling</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Harry_Potter_and_the_Goblet_of_Fire"
  target="_blank" title="Harry Potter and the Goblet of Fire">Harry Potter and
    the Goblet of Fire</a></td>
  </tr>
 <tr>
  
  <td>Nebula</td>
  <td>Greg Bear</td>
  <td ><a
  href="https://en.wikipedia.org/wiki/Darwin%27s_Radio" target="_blank"
  title="Darwin's Radio">Darwin's Radio</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Lois McMaster Bujold</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Vorkosigan_Saga#A_Civil_Campaign"
  target="_blank" title="Vorkosigan Saga">A Civil Campaign</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>George R. R. Martin</td>
  <td><a
  href="https://en.wikipedia.org/wiki/A_Storm_of_Swords" target="_blank"
  title="A Storm of Swords">A Storm of Swords</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Robert J. Sawyer</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Calculating_God" target="_blank"
  title="Calculating God">Calculating God</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Kathleen Ann Goonan</td>
  <td>Crescent City Rhapsody</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Charles de Lint</td>
  <td>Forests of the Heart</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Jack McDevitt</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Infinity_Beach" target="_blank"
  title="Infinity Beach">Infinity Beach</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Nalo Hopkinson</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Midnight_Robber" target="_blank"
  title="Midnight Robber">Midnight Robber</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Ken MacLeod</td>
  <td>The Sky Road</td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >2002</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Neil Gaiman</td>
  <td><a href="https://en.wikipedia.org/wiki/American_Gods"
  target="_blank" title="American Gods">American Gods</a></td>
  </tr>
 <tr>
  
  <td>Nebula</td>
  <td>Catherine Asaro</td>
  <td ><a
  href="https://en.wikipedia.org/wiki/The_Quantum_Rose" target="_blank"
  title="The Quantum Rose">The Quantum Rose</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>George R. R. Martin</td>
  <td><a
  href="https://en.wikipedia.org/wiki/A_Storm_of_Swords" target="_blank"
  title="A Storm of Swords">A Storm of Swords</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Ken MacLeod</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Cosmonaut_Keep" target="_blank"
  title="Cosmonaut Keep">Cosmonaut Keep</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Tim Powers</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Declare" target="_blank" title=Declare>Declare</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Jeffrey Carver</td>
  <td>Eternity's End</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Geoffrey A. Landis</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Mars_Crossing" target="_blank"
  title="Mars Crossing">Mars Crossing</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Connie Willis</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Passage_(Willis_novel)" target="_blank"
  title="Passage (Willis novel)">Passage</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>China Mi&eacute;ville</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Perdido_Street_Station" target="_blank"
  title="Perdido Street Station">Perdido Street Station</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Robert Charles Wilson</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Chronoliths" target="_blank"
  title="The Chronoliths">The Chronoliths</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Wil McCarthy</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Collapsium" target="_blank"
  title="The Collapsium">The Collapsium</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Lois McMaster Bujold</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Curse_of_Chalion" target="_blank"
  title="The Curse of Chalion">The Curse of Chalion</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Patricia A. McKillip</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Tower_at_Stony_Wood" target="_blank"
  title="The Tower at Stony Wood">The Tower at Stony Wood</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >2003</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Robert J. Sawyer</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Neanderthal_Parallax" target="_blank"
  title="The Neanderthal Parallax">Hominids</a></td>
  </tr>
 <tr>
  
  <td>Nebula</td>
  <td>Neil Gaiman</td>
  <td ><a
  href="https://en.wikipedia.org/wiki/American_Gods" target="_blank"
  title="American Gods">American Gods</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Michael Swanwick</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Bones_of_the_Earth" target="_blank"
  title="Bones of the Earth">Bones of the Earth</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>David Brin</td>
  <td ><a href="https://en.wikipedia.org/wiki/Kiln_People"
  target="_blank" title="Kiln People">Kiln People (aka: Kil'n
    People)</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>China Mi&eacute;ville</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Perdido_Street_Station" target="_blank"
  title="Perdido Street Station">Perdido Street Station</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Robert A. Metzger</td>
  <td>Picoverse</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Kelley Eskridge</td>
  <td>Solitaire</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Ursula K. Le Guin</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Other_Wind" target="_blank"
  title="The Other Wind">The Other Wind</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>China Mi&eacute;ville</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Scar" target="_blank"
  title="The Scar">The Scar</a></td>
  </tr>
 <tr>
  <td></td>
  <td>Kim Stanley Robinson</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Years_of_Rice_and_Salt"
  target="_blank" title="The Years of Rice and Salt">The Years of Rice and
    Salt</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year" 
  >2004</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Lois McMaster Bujold</td>
  <td class=xl71><a href="https://en.wikipedia.org/wiki/Paladin_of_Souls"
  target="_blank" title="Paladin of Souls">Paladin of Souls</a></td>
  </tr>
 <tr>
  
  <td>Nebula</td>
  <td>Elizabeth Moon</td>
  <td ><a
  href="https://en.wikipedia.org/wiki/Speed_of_Dark" target="_blank"
  title="Speed of Dark">The Speed of Dark</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Robert Charles Wilson</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Blind_Lake" target="_blank"
  title="Blind Lake">Blind Lake</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Jack McDevitt</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Chindi_(novel)" target="_blank"
  title="Chindi (novel)">Chindi</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Lois McMaster Bujold</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Diplomatic_Immunity_(novel)"
  target="_blank" title="Diplomatic Immunity (novel)">Diplomatic Immunity</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Robert J. Sawyer</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Neanderthal_Parallax" target="_blank"
  title="The Neanderthal Parallax">Humans</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Dan Simmons</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Ilium_(novel)" target="_blank"
  title="Ilium (novel)">Ilium</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Kathleen Ann Goonan</td>
  <td>Light Music</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Charles Stross</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Singularity_Sky" target="_blank"
  title="Singularity Sky">Singularity Sky</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Carol Emshwiller</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Mount_(novel)" target="_blank"
  title="The Mount (novel)">The Mount</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Nalo Hopkinson</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Salt_Roads" target="_blank"
  title="The Salt Roads">The Salt Roads</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >2005</td>
  </tr>
 <tr>
  
  <td>Nebula</td>
  <td>Lois McMaster Bujold</td>
  <td><a href="https://en.wikipedia.org/wiki/Paladin_of_Souls"
  target="_blank" title="Paladin of Souls">Paladin of Souls</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>David Mitchell</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Cloud_Atlas_(novel)" target="_blank"
  title="Cloud Atlas (novel)">Cloud Atlas</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Cory Doctorow</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Down_and_Out_in_the_Magic_Kingdom"
  target="_blank" title="Down and Out in the Magic Kingdom">Down and Out in
    the Magic Kingdom</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>China Mi&eacute;ville</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Iron_Council" target="_blank"
  title="Iron Council">Iron Council</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Charles Stross</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Iron_Sunrise" target="_blank"
  title="Iron Sunrise">Iron Sunrise</a></td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Susanna Clarke</td>
  <td ><a
  href="https://en.wikipedia.org/wiki/Jonathan_Strange_%26_Mr_Norrell"
  target="_blank" title="Jonathan Strange &amp; Mr Norrell">Jonathan Strange
    &amp; Mr Norrell</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Jack McDevitt</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Omega_(novel)" target="_blank"
  title="Omega (novel)">Omega</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Sean Stewart</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Perfect_Circle_(novel)" target="_blank"
  title="Perfect Circle (novel)">Perfect Circle</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Ian McDonald</td>
  <td><a
  href="https://en.wikipedia.org/wiki/River_of_Gods" target="_blank"
  title="River of Gods">River of Gods</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Iain M. Banks</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Algebraist" target="_blank"
  title="The Algebraist">The Algebraist</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Gene Wolfe</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Knight_(Gene_Wolfe)" target="_blank"
  title="The Knight (Gene Wolfe)">The Knight</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >2006</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Robert Charles Wilson</td>
  <td><a href="https://en.wikipedia.org/wiki/Spin_(novel)"
  target="_blank" title="Spin (novel)">Spin</a></td>
  </tr>
 <tr>
  
  <td>Nebula</td>
  <td>Joe Haldeman</td>
  <td ><a
  href="https://en.wikipedia.org/wiki/Camouflage_(novel)" target="_blank"
  title="Camouflage (novel)">Camouflage</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>George R. R. Martin</td>
  <td><a
  href="https://en.wikipedia.org/wiki/A_Feast_for_Crows" target="_blank"
  title="A Feast for Crows">A Feast for Crows</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Charles Stross</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Accelerando" target="_blank"
  title=Accelerando>Accelerando</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Geoff Ryman</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Air_(novel)" target="_blank"
  title="Air (novel)">Air</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Terry Pratchett</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Going_Postal" target="_blank"
  title="Going Postal">Going Postal</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Susanna Clarke</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Jonathan_Strange_%26_Mr_Norrell"
  target="_blank" title="Jonathan Strange &amp; Mr Norrell">Jonathan Strange
    &amp; Mr Norrell</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Ken MacLeod</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Learning_the_World" target="_blank"
  title="Learning the World">Learning the World</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>John Scalzi</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Old_Man%27s_War" target="_blank"
  title="Old Man's War">Old Man's War</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>John C. Wright</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Orphans_of_Chaos" target="_blank"
  title="Orphans of Chaos">Orphans of Chaos</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Jack McDevitt</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Polaris_(novel)" target="_blank"
  title="Polaris (novel)">Polaris</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >2007</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Vernor Vinge</td>
  <td><a href="https://en.wikipedia.org/wiki/Rainbows_End"
  target="_blank" title="Rainbows End">Rainbows End</a></td>
  </tr>
 <tr>
  
  <td>Nebula</td>
  <td>Jack McDevitt</td>
  <td ><a
  href="https://en.wikipedia.org/wiki/Seeker_(novel)" target="_blank"
  title="Seeker (novel)">Seeker</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Peter Watts</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Blindsight_(Watts_novel)" target="_blank"
  title="Blindsight (Watts novel)">Blindsight</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Michael F. Flynn</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Eifelheim" target="_blank"
  title=Eifelheim>Eifelheim</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Jo Walton</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Farthing_(novel)" target="_blank"
  title="Farthing (novel)">Farthing</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Richard Bowes</td>
  <td><a
  href="https://en.wikipedia.org/wiki/From_the_Files_of_the_Time_Rangers"
  target="_blank" title="From the Files of the Time Rangers">From the Files of
    the Time Rangers</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Charles Stross</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Glasshouse_(novel)" target="_blank"
  title="Glasshouse (novel)">Glasshouse</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Naomi Novik</td>
  <td><a
  href="https://en.wikipedia.org/wiki/His_Majesty%27s_Dragon" target="_blank"
  title="His Majesty's Dragon">His Majesty's Dragon</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Jeffrey Ford</td>
  <td>The Girl in the Glass</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Ellen Kushner</td>
  <td>The Privilege of the Sword</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Wil McCarthy</td>
  <td><a
  href="https://en.wikipedia.org/wiki/To_Crush_the_Moon" target="_blank"
  title="To Crush the Moon">To Crush the Moon</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >2008</td>
  </tr>
 <tr>
  
  <td>Hugo,Nebula</td>
  <td>Michael Chabon</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Yiddish_Policemen%27s_Union"
  target="_blank" title="The Yiddish Policemen's Union">The Yiddish
    Policemen's Union</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Ian McDonald</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Brasyl" target="_blank" title=Brasyl>Brasyl</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Charles Stross</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Halting_State" target="_blank"
  title="Halting State">Halting State</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Jack McDevitt</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Odyssey_(novel)" target="_blank"
  title="Odyssey (novel)">Odyssey</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Tobias S. Buckell</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Ragamuffin_(novel)" target="_blank"
  title="Ragamuffin (novel)">Ragamuffin</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Robert J. Sawyer</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Rollback_(novel)" target="_blank"
  title="Rollback (novel)">Rollback</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Joe Haldeman</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Accidental_Time_Machine"
  target="_blank" title="The Accidental Time Machine">The Accidental Time
    Machine</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>John Scalzi</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Last_Colony" target="_blank"
  title="The Last Colony">The Last Colony</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Nalo Hopkinson</td>
  <td>The New Moon's Arms</td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >2009</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>Neil Gaiman</td>
  <td><a href="https://en.wikipedia.org/wiki/The_Graveyard_Book"
  target="_blank" title="The Graveyard Book">The Graveyard Book</a></td>
  </tr>
 <tr>
  
  <td>Nebula</td>
  <td>Ursula K. Le Guin</td>
  <td ><a
  href="https://en.wikipedia.org/wiki/Annals_of_the_Western_Shore"
  target="_blank" title="Annals of the Western Shore">Powers</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Neal Stephenson</td>
  <td>Anathem</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Ian McDonald</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Brasyl" target="_blank" title=Brasyl>Brasyl</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Jack McDevitt</td>
  <td>Cauldron</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Cory Doctorow</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Little_Brother_(Doctorow_novel)"
  target="_blank" title="Little Brother (Doctorow novel)">Little Brother</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Terry Pratchett</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Making_Money" target="_blank"
  title="Making Money">Making Money</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Charles Stross</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Saturn%27s_Children_(novel)"
  target="_blank" title="Saturn's Children (novel)">Saturn's Children</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>David J. Schwartz</td>
  <td>Superpowers</td>
  </tr>
 <tr>
  
  <td></td>
  <td>John Scalzi</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Zoe%27s_Tale" target="_blank"
  title="Zoe's Tale">Zoe's Tale</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >2010</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>China Mi&eacute;ville</td>
  <td><a href="https://en.wikipedia.org/wiki/The_City_%26_the_City"
  target="_blank" title="The City &amp; the City">The City &amp; the City</a></td>
  </tr>
 <tr>
  
  <td>Hugo,Nebula</td>
  <td>Paolo Bacigalupi</td>
  <td ><a
  href="https://en.wikipedia.org/wiki/The_Windup_Girl" target="_blank"
  title="The Windup Girl">The Windup Girl</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Cherie Priest</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Boneshaker_(novel)" target="_blank"
  title="Boneshaker (novel)">Boneshaker</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Cherie Priest</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Boneshaker_(novel)" target="_blank"
  title="Boneshaker (novel)">Boneshaker</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Jeff VanderMeer</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Finch_(novel)" target="_blank"
  title="Finch (novel)">Finch</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Laura Anne Gilman</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Flesh_and_Fire" target="_blank"
  title="Flesh and Fire">Flesh and Fire</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Robert Charles Wilson</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Julian_Comstock:_A_Story_of_22nd-Century_America"
  target="_blank" title="Julian Comstock: A Story of 22nd-Century America">Julian
    Comstock: A Story of 22nd-Century America</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Catherynne M. Valente</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Palimpsest_(novel)" target="_blank"
  title="Palimpsest (novel)">Palimpsest</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>China Mi&eacute;ville</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_City_%26_the_City" target="_blank"
  title="The City &amp; the City">The City &amp; the City</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Christopher Barzak</td>
  <td>The Love We Share Without Knowing</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Robert J. Sawyer</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Wake_(Robert_J._Sawyer_novel)"
  target="_blank" title="Wake (Robert J. Sawyer novel)">Wake</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >2011</td>
  </tr>
 <tr>
  
  <td>Hugo,Nebula</td>
  <td>Connie Willis</td>
  <td><a href="https://en.wikipedia.org/wiki/Blackout/All_Clear"
  target="_blank" title="Blackout/All Clear">Blackout/All Clear</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Lois McMaster Bujold</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Cryoburn" target="_blank"
  title=Cryoburn>Cryoburn</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Jack McDevitt</td>
  <td>Echo</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Mira Grant</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Feed_(Grant_novel)" target="_blank"
  title="Feed (Grant novel)">Feed</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Mary Robinette Kowal</td>
  <td>Shades of Milk and Honey</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Ian McDonald</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Dervish_House" target="_blank"
  title="The Dervish House">The Dervish House</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>N. K. Jemisin</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Hundred_Thousand_Kingdoms"
  target="_blank" title="The Hundred Thousand Kingdoms">The Hundred Thousand
    Kingdoms</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>M. K. Hobson</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Native_Star" target="_blank"
  title="The Native Star">The Native Star</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Nnedi Okorafor</td>
  <td>Who Fears Death</td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >2012</td>
  </tr>
 <tr>
  
  <td>Hugo,Nebula</td>
  <td>Jo Walton</td>
  <td><a href="https://en.wikipedia.org/wiki/Among_Others"
  target="_blank" title="Among Others">Among Others</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>George R. R. Martin</td>
  <td><a
  href="https://en.wikipedia.org/wiki/A_Dance_with_Dragons" target="_blank"
  title="A Dance with Dragons">A Dance with Dragons</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Mira Grant</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Deadline_(Grant_novel)" target="_blank"
  title="Deadline (Grant novel)">Deadline</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>China Mi&eacute;ville</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Embassytown" target="_blank"
  title=Embassytown>Embassytown</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Jack McDevitt</td>
  <td>Firebird</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Kameron Hurley</td>
  <td>God's War</td>
  </tr>
 <tr>
  
  <td></td>
  <td>James S. A. Corey</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Leviathan_Wakes" target="_blank"
  title="Leviathan Wakes">Leviathan Wakes</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Genevieve Valentine</td>
  <td>Mechanique: a Tale of the Circus
    Tresaulti</td>
  </tr>
 <tr>
  
  <td></td>
  <td>N. K. Jemisin</td>
  <td>The Kingdom of Gods</td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >2013</td>
  </tr>
 <tr>
  
  <td>Hugo</td>
  <td>John Scalzi</td>
  <td><a href="https://en.wikipedia.org/wiki/Redshirts_(novel)"
  target="_blank" title="Redshirts (novel)">Redshirts</a></td>
  </tr>
 <tr>
  
  <td>Nebula</td>
  <td>Kim Stanley Robinson</td>
  <td><a
  href="https://en.wikipedia.org/wiki/2312_(novel)" target="_blank"
  title="2312 (novel)">2312</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Mira Grant</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Blackout_(Grant_novel)" target="_blank"
  title="Blackout (Grant novel)">Blackout</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Lois McMaster Bujold</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Captain_Vorpatril%27s_Alliance"
  target="_blank" title="Captain Vorpatril's Alliance">Captain Vorpatril's
    Alliance</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Mary Robinette Kowal</td>
  <td>Glamour in Glass</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Tina Connolly</td>
  <td>Ironskin</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Caitlín R. Kiernan</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Drowning_Girl" target="_blank"
  title="The Drowning Girl">The Drowning Girl</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>N. K. Jemisin</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Killing_Moon_(book)" target="_blank"
  title="The Killing Moon (book)">The Killing Moon</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Saladin Ahmed</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Throne_of_the_Crescent_Moon"
  target="_blank" title="Throne of the Crescent Moon">Throne of the Crescent
    Moon</a></td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >2014</td>
  </tr>
 <tr>
  
  <td>Hugo,Nebula</td>
  <td>Ann Leckie</td>
  <td><a href="https://en.wikipedia.org/wiki/Ancillary_Justice"
  target="_blank" title="Ancillary Justice">Ancillary Justice</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Sofia Samatar</td>
  <td>A Stranger in Olondria</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Charles E. Gannon</td>
  <td>Fire with Fire</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Nicola Griffith</td>
  <td>Hild</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Charles Stross</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Neptune%27s_Brood" target="_blank"
  title="Neptune's Brood">Neptune's Brood</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Mira Grant</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Parasite_(Grant_novel)" target="_blank"
  title="Parasite (Grant novel)">Parasite</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Helene Wecker</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Golem_and_the_Jinni" target="_blank"
  title="The Golem and the Jinni">The Golem and the Jinni</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Neil Gaiman</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Ocean_at_the_End_of_the_Lane"
  target="_blank" title="The Ocean at the End of the Lane">The Ocean at the
    End of the Lane</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Linda Nagata</td>
  <td>The Red: First Light</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Robert Jordan &amp; Brandon Sanderson</td>
  <td class=xl78 >The Wheel of Time</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Larry Correia</td>
  <td>Warbound</td>
  </tr>
 <tr>
  
  <td></td>
  <td>Karen Joy Fowler</td>
  <td>We Are All Completely Beside Ourselves</td>
  </tr>
 <tr>
  <td colspan="3" class="award-year"  
  >2015</td>
  </tr>
 <tr>
  
  <td>Nebula</td>
  <td>Jeff VanderMeer</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Annihilation_(VanderMeer_novel)"
  target="_blank" title="Annihilation (VanderMeer novel)">Annihilation</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Ann Leckie</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Ancillary_Sword" target="_blank"
  title="Ancillary Sword">Ancillary Sword</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Jack McDevitt</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Coming_Home_(Jack_McDevitt)"
  target="_blank" title="Coming Home (Jack McDevitt)">Coming Home</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Jim Butcher</td>
  <td><a
  href="https://en.wikipedia.org/wiki/Skin_Game_(The_Dresden_Files)"
  target="_blank" title="Skin Game (The Dresden Files)">Skin Game</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Kevin J. Anderson</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Saga_of_Shadows" target="_blank"
  title="The Saga of Shadows">The Dark Between the Stars</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Katherine Addison</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Goblin_Emperor" target="_blank"
  title="The Goblin Emperor">The Goblin Emperor</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Cixin Liu</td>
  <td><a
  href="https://en.wikipedia.org/wiki/The_Three-Body_Problem" target="_blank"
  title="The Three-Body Problem">The Three-Body Problem</a></td>
  </tr>
 <tr>
  
  <td></td>
  <td>Charles E. Gannon</td>
  <td>Trial by Fire</td>
  </tr>

</table>
</div>
</div>
</div>
</div>