
<div class=" row title-page">
	<div class="col-md-2">
		&nbsp;
	</div>
	<div class="col-md-8" align="center">
		<h1>The Science of Miracles</h1>
		<h2>A novel of human spiritual evolution</h2>
		<h3>By Ben McKibben</h3>
	</div>
	<div class="col-md-2">
		&nbsp;
	</div>
</div>	
<div class=" row title-page">
	<div class="col-md-2">
		&nbsp;
	</div>
	<div class="col-md-8" align="left">
		<p>Paxxa was an Iranian toddler who was abducted by extraterrestrials during the Tehran UFO Incident in 1976. He was taken to Raquesti home world orbiting a binary sun. He was assimilated into Raquesti culture and has returned to earth as a missionary for an alien religion.  He befriends a dysfunctionally nostalgic, former physics professor.  When they create a device that seems to use higher dimensions to enhance &ldquo;psychic abilities&rdquo;, they reluctantly become involved in a resistance movement against a despotic theocracy.</p>
	</div>
	<div class="col-md-2">
		&nbsp;
	</div>
</div>	











 
