<div class="row">
      <div class="col-sm-8 col-sm-offset-2" > 
            <div class="panel panel-default">
                  <div class="panel-heading">
                        <h1>
                        Who Am I
                        </h1>
                  </div>      
                  <div class="panel-body">
                    <%= current_user.inspect %>
                  </div>
            </div>
      </div>
</div>
