<header>
	<h1>
		Welcome to my Rails/Postgresql application <%= current_user.email %>!
	</h1>
	<h2>
		We're using Ruby <%= RUBY_VERSION %> and Rails <%= Rails.version %>
	</h2>
</header>
<section>
	<p>
		Future content goes here!
	</p>
	

</section>
