<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-12">
<header>
	<h1>
		Welcome <%= current_user.email %>!
	</h1>
</header>
<section>
	<p>
		This is my attempt to create a Ruby on Rails version to the famous <a href="http://tiddlywiki.com/" target="_blank">TiddlyWiki.</a>
		We're using Ruby <%= RUBY_VERSION %> and Rails <%= Rails.version %>
	</h2>
	</p>
	

</section>
</div>
</div>