    <div class="white-scroller sidebar-content">
      <p id="sidebar-actions pull-right">
        <i aria-hidden="false" class="fa fa-plus action-icon" id="wiki-new"  data-toggle='tooltip' data-placement='bottom' title='Add a new wiki.'></i>
        <i aria-hidden="false" class="fa fa-home action-icon" id="wiki-new"  data-toggle='tooltip' data-placement='bottom' title='Display home wikis.'></i>
      </p> 

<div class="input-group">
  <input type="text" class="form-control" placeholder="search" aria-label="Search" aria-describedby="basic-addon2">
  <span class="input-group-addon" id="basic-addon2"><i aria-hidden="false" class="fa fa-search action-icon" id="wiki-new" data-toggle='tooltip' data-placement='bottom' title='Search wiki contents.'></i></span>
</div>        

<div class="well nested-menu" style="width:100%; padding: 8px 0;"><%= @menu.html_safe %></div>

</div>  