    <div class="white-scroller sidebar-content">
      <p id="sidebar-actions pull-right">
        <i aria-hidden="false" class="fa fa-plus action-icon" id="wiki-new"></i>
      </p>  
    <ul>
        <li>menu</li>
        <li>menu</li>
        <li>menu</li>
        <li>menu</li>
        <li>menu</li>
        <li>menu</li>
        <li>menu</li>
    </ul>
    </div>  