    <div class="white-scroller sidebar-content">
      <p id="sidebar-actions pull-right">
        <i aria-hidden="false" class="fa fa-plus action-icon" id="wiki-new"  data-toggle='tooltip' data-placement='bottom' title='Add a new wiki.'></i>
      </p> 

<div class="input-group">
  <input type="text" class="form-control" placeholder="search" aria-label="Search" aria-describedby="basic-addon2">
  <span class="input-group-addon" id="basic-addon2"><i aria-hidden="false" class="fa fa-search action-icon" id="wiki-new" data-toggle='tooltip' data-placement='bottom' title='Search wiki contents.'></i></span>
</div>        


    <ul>
        <li>menu</li>
        <li>menu</li>
        <li>menu</li>
        <li>menu</li>
        <li>menu</li>
        <li>menu</li>
        <li>menu</li>
    </ul>
    </div>  