<div class="row">
  <div class="col-md-12 pull-right" >
    <i aria-hidden="false" class="fa fa-chevron-right sidebar-toggle pull-right"  data-toggle='tooltip' data-placement='left' title='Show/Hide Sidebar.'></i>
  </div>
</div>
<div class="row" id="row-main">

	<div id="mySidenav" class="sidenav sidenav-open">
	  <%= render "sidebar" %> 
	</div>

	<div id="main" class="main-collapsed">

	<%= render "list" %>

	 </div>    

</div>
