<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-12">
    <p id="notice"><%= notice %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-12">


    <% @wikis.each do |wiki| %>

        <div class="panel panel-default wiki-panel" id="<%= wiki.id %>" >
          <%= render "display", :wiki => wiki %>  
        </div>

    <% end %>
  </div>
</div>