<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-12">
    <p id="notice"><%= notice %></p>
    <button type="button" class="btn btn-default sidebar-toggle">Toggle sidebar</button>
  </div> 
</div>
<div class="row" id="row-main">

  <div class="col-md-10" id="content">


    <% @wikis.each do |wiki| %>

        <div class="panel panel-default wiki-panel" id="<%= wiki.id %>" >
          <%= render "display", :wiki => wiki %>  
        </div>

    <% end %>
  </div>

  <div class="col-md-2 white-scroller" id="sidebar">
    <ul>
        <li>menu</li>
        <li>menu</li>
        <li>menu</li>
        <li>menu</li>
        <li>menu</li>
        <li>menu</li>
        <li>menu</li>
    </ul>    
  </div>

</div>