<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-12">
    <p id="notice"><%= notice %></p>
  </div>  
  <div class="col-md-2 col-sm-12 pull-right" >
    <i aria-hidden="false" class="fa fa-chevron-right sidebar-toggle pull-right"></i>
  </div>
</div>
<div class="row" id="row-main">

  <div class="col-md-10" id="content">

    <% @wikis.each do |wiki| %>

        <div class="panel panel-default wiki-panel" id="<%= wiki.id %>" >
          <%= render "display", :wiki => wiki %>  
        </div>

    <% end %>
  </div>

  <div class="col-md-2" id="sidebar">
    <div class="white-scroller sidebar-content">
      <p id="sidebar-actions pull-right">
        <i aria-hidden="false" class="fa fa-plus action-icon" id="new-wiki"></i>
      </p>  
    <ul>
        <li>menu</li>
        <li>menu</li>
        <li>menu</li>
        <li>menu</li>
        <li>menu</li>
        <li>menu</li>
        <li>menu</li>
    </ul>
    </div>    
  </div>

</div>