<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-12">
    
  </div>  
  <div class="col-md-2 col-sm-12 pull-right" >
    <i aria-hidden="false" class="fa fa-chevron-right sidebar-toggle pull-right"  data-toggle='tooltip' data-placement='left' title='Show/Hide Sidebar.'></i>
  </div>
</div>
<div class="row" id="row-main">

  <div class="col-md-10" id="content">
    <%= render "list" %> 
  </div>

  <div class="col-md-2" id="sidebar">
    <%= render "sidebar" %> 
  </div>

</div>