<div class="row" style="margin-top:40px;">
    <div class="col-md-2">
    	&nbsp;
    </div>  
    <div class="col-md-8 white-scroller" >

		<h1>New Wiki</h1>

		<%= render 'form' %>



	</div>
</div>	
