// Place all the styles related to the wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wiki-actions {
	text-align: right;
}

.wiki-attributes {
	font-size: 1.3rem;
	color: #000;
}

.wiki-panel {
/*	padding-left: 1rem;
	padding-right: 1rem;*/
	margin-right: 1rem;
	margin-left: 4rem;
}

.wiki-title{
	font-family: Rokkitt, serif;
	font-size: 3rem;
	margin-bottom: 0;
	line-height: 3.4rem;
}

.collapsed {
    display: none; /* hide it for small displays */
}

@media (min-width: 992px) {
    .collapsed {
        display: block;
        margin-right: -16%; /* same width as sidebar */
    }
}

#row-main {
    overflow-x: hidden; /* necessary to hide collapsed sidebar */
}

#content {
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
}
#sidebar {
    -webkit-transition: margin 0.3s ease;
    -moz-transition: margin 0.3s ease;
    -o-transition: margin 0.3s ease;
    transition: margin 0.3s ease;
    width: 16%;
}

.sidebar-toggle {
    cursor: pointer;
    margin-right:2rem;
    margin-bottom:1rem;
    font-size: 2rem;
}

.sidebar-content {
    width: 100%;
}

.sidebar-actions {
    cursor: pointer;
    font-size: 2rem;
}

ul.tree {
  margin-left: 2rem;
}

.nav-tabs > li > a {
    font-size: 1rem;
    line-height: 1;
    background-color: #bbb;
    color: #555;  
    border-radius: 6px 6px 0 0; 

}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #ddd;
    border-color: #bbb #bbb transparent;
    cursor:pointer;
}

.tree-toggler {
    cursor:pointer;
}

#sidebarTabs {
    margin-top: 10px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 110px;
    right: 0;
    background-color: transparent;
    overflow-x: hidden;
    transition: 0.5s;
    
}

.sidenav a {
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav-collapsed {
  width:0;
  padding-right: 0;
}

.sidenav-open {
  width:300px;
  padding-right: 2rem;
}

.main-open  {
    margin-right: 0;
}

.main-collapsed {
    margin-right:300px;
}

#main {
    transition: margin-right .5s;
    padding-right: 2rem;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.btn-tag {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f900+0,dcdc00+50,d2d200+54,dede00+100 */
    background: #f9f900; /* Old browsers */
    background: -moz-linear-gradient(top, #f9f900 0%, #dcdc00 50%, #d2d200 54%, #dede00 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f9f900 0%,#dcdc00 50%,#d2d200 54%,#dede00 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f9f900 0%,#dcdc00 50%,#d2d200 54%,#dede00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f900', endColorstr='#dede00',GradientType=0 ); /* IE6-9 */
    border-radius: 1em !important;
    color: #000;
    display: inline-block;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.2em;
    padding: 0.16em 0.7em;
    vertical-align: baseline;
    white-space: nowrap;    
}

.btn-tag:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dede00+0,d2d200+46,dcdc00+50,f9f900+100 */
    background: #dede00; /* Old browsers */
    background: -moz-linear-gradient(top, #dede00 0%, #d2d200 46%, #dcdc00 50%, #f9f900 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #dede00 0%,#d2d200 46%,#dcdc00 50%,#f9f900 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #dede00 0%,#d2d200 46%,#dcdc00 50%,#f9f900 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dede00', endColorstr='#f9f900',GradientType=0 ); /* IE6-9 */
}