// Place all the styles related to the wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wiki-actions {
	text-align: right;
}

.wiki-attributes {
	font-size: 1rem;
	color: #000;
}

.wiki-panel {
	padding-left: 1rem;
	padding-right: 1rem;
}