<footer class="gradient-footer">
<div class="row">
<div class="col-md-4 col-xs-12">   
    <p id="copyrights">
        &copy; Ben McKibben, <%= Time.now.year %>. All rights reserved.<br/>
		    v.2017.264
    </p>
</div>  
<div class="col-md-4 col-xs-12" align="center">
    <a  href="#mdlLicense"  data-toggle="modal">License</a> | <a href="#mdlPrivacy"  data-toggle="modal">Privacy</a>
</div>
<div class="col-md-4 col-xs-12"> 
    <p class="pull-right" style="padding-right:30px;"><a href="#">Back to top</a></p>
</div>
</div>
</footer>

<div id="mdlLicense" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">License</h4>
            </div>
            <div class="modal-body">
<p>Copyright &copy; <%= Time.now.year %> Ben McKibben</p>

<p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>

<p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>

<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="mdlPrivacy" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Privacy Policy</h4>
            </div>
            <div class="modal-body">
                <p>Privacy? LOL! Nothing on the internet is private.</p>
                <p>That being said, any information captured by this application will be used for traffic analysis. We will not give or share any of this information with anyone, period!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>